services:
  backend:
    build: ./backend
    ports:
      - "3100:3100"
    networks:
      - app-network
    environment:
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
